<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="text-center">New Patient Card</h1>
      </div>
      <div class="col-sm-8">
        <div class="alert alert-info" [hidden]="!editForm.dirty">
          <p>
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost!</p>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
  
                <button type="button" class="btn btn-success btn-s" style="background-color:#5CBD99;border-color: #3F9474;"
                  (click)="uploader.uploadAll()" 
                  [disabled]="!uploader.getNotUploadedItems().length" >
                      Upload an Image
                </button>
        </div>
      </div>
      <div class="col-sm-8 ">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Edit Profile">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                  <h4>Name:</h4>
                  <input type="text" name="name" rows="6" class="form-control" />
                  <h4>Date of Birth:</h4>
                  <input type="date" name="interests" rows="6" class="form-control" />
                <h4>Diagnosis</h4>
                <textarea name="introduction" rows="6" class="form-control" >
                </textarea>
                <h4>Reccomendations:</h4>
                <textarea name="interests" rows="6" class="form-control">
                </textarea>
                <h4>District:</h4>
                <div class="form-inline">
                  <label for="city">City:</label>
                  <input name="city" class="form-control" type="text" >
                  <label for="country">Country:</label>
                  <input name="country" class="form-control" type="text" >
                </div>
              </form>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>