<div class="container">
  <h1>{{user.knownAs}}'s Card</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top profile-img" src="{{user?.photoUrl}}" alt="{{user?.knownAs}}">
        <div class="card-body">
          <strong>Location:</strong>
          <p>{{user.city}},{{user.country}}</p>
        </div>
        <div class="card-body">
          <strong>Age:</strong>
          <p>{{user.age}}</p>
        </div>
        <div class="card-body">
          <strong>Date of Birth:</strong>
          <p>{{user.lastActive}}</p>
        </div>
        <div class="card-body">
          <strong>Gender:</strong>
          <p>{{user.gender}}</p>
        </div>
      </div>
      <div class="card-footer btn-group d-flex" role="group">
        <div class="w-100">
          <button class="btn btn-primary w-100" style="background-color:#5CBD99;border-color: #3F9474;">Edit</button>
        </div>
        <div class="w-100">
          <button class="btn btn-success w-100" style="background-color:#909497;border-color: #717D7E;color:white">Delete card</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8 ">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{user?.knownAs}}">
            <h4>Diagnosis</h4>
            <h5>{{user.interests}}</h5>
            <p>{{user.introduction}}</p>
          </tab>
          <tab heading="X-Rays">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Segmented X-Rays">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>
          <tab heading="Recommendations">
            <p>In the early stages of pericarditis, the following may be recommended:

                taking water pills to remove excess fluids, which are called diuretics;
                taking pain medication (analgesics) to control pain;
                decreasing your activity level;
                decreasing the amount of salt in your diet;
                taking over-the-counter anti-inflammatories, such as ibuprofen (Advil);
                taking colchicine (Colcrys);
                taking corticosteroids;</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>